<% category_id = params[:category].nil? ? '2' : params[:category] %>
<%= javascript_include_tag "main.js" %>
<h1>模拟考试</h1>
<div class="zhenti_list">
  <ul>
    <% unless @simulations.blank? %>
      <% @simulations.each do |simulation| %>
        <li><a href="/simulations/<%= simulation.id %>/do_exam" target="_blank" >
            <h2><%= simulation.title %></h2>
          </a>
        </li>
      <% end %>
    <% else %>
      <li>暂无模拟考试</li>
    <% end %>
  </ul>
</div>