<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<h4>用户反馈信息</h4>
<br/>
<p>用户编号: <%= @record.user_id %></p>
<p>用户昵称: <%= @name %></p>
<p>联系方式: <%= @record.answer %></p>
<p>反馈内容: <%= @record.description %></p>

<br/>
----赶考<a href="http://www.gankao.co">www.gankao.co</a>----<br/>
(这是一封自动产生的email，请勿回复。)
