<%= javascript_include_tag "/assets/exam/answer.js" %>
<%= javascript_include_tag "/assets/exam/paper.js" %>

<script type="text/javascript" >
  //组合problems数组
  problems=[];
  var b = [];
  var old_b = papers.paper.blocks.block ;
  if(old_b){
    if(old_b.length){
      b=old_b;
    }else{
      b.push(old_b);
    }
  }
  for(var i=0;i<b.length;i++){
    var p=[];
    var old_p = b[i].problems.problem ;
    if(old_p){
      if(old_p.length){
        p=old_p;
      }else{
        p.push(old_p);
      }
    }
    for(var j=0;j<p.length;j++){
      problems.push(p[j]);
    }
  }

  //载入题目
  function load_problem(problem_index){
    $("#global_problem_index").html(problem_index+1);
    $("#global_problem_title").html(problems[problem_index].title);
    
    //组合questions数组
    var questions=[];
    var old_q = problems[problem_index].questions.question;
    if(old_q){
      if(old_q.length){
        questions=old_q;
      }else{
        questions.push(old_q);
      }
    }
    problems[problem_index].questions = questions;
    load_questions(questions,problem_index);
  }

  //循环载入小题
  function load_questions(questions,problem_index){
    for(var q_index=0;q_index<questions.length;q_index++){
      var q_description = questions[q_index].description ;
      var q_correct_type = questions[q_index].correct_type;
      var q_answer =answer.paper.problems.problem[problem_index].question[q_index].answer;
      var q_analysis =answer.paper.problems.problem[problem_index].question[q_index].analysis;
      var pro_question_list = $("#questions_resource")[0].appendChild(create_element("div", null, null, "pro_question_list p_q_line", null, "innerHTML"));
      var pql_left = pro_question_list.appendChild(create_element("div", null, null, "pql_left", null, "innerHTML"));
      pql_left.innerHTML=""+(q_index+1)+".";
      var pql_right = pro_question_list.appendChild(create_element("div", null, null, "pql_right p_q_line", null, "innerHTML"));
      var pro_qu_t = pql_right.appendChild(create_element("div", null, null, "pro_qu_t pro_qu_k pro_qu_h", null, "innerHTML"));
      pro_qu_t.innerHTML=q_description;
      var green_dui = pql_right.appendChild(create_element("div", null, "green_dui_"+problem_index+"_"+q_index, "green_dui", null, "innerHTML"));
      var green_dui_image=document.createElement("img");
      green_dui_image.src="/assets/green_dui.png";
      green_dui.appendChild(green_dui_image);

      green_dui.style.display="none";
      var red_cuo = pql_right.appendChild(create_element("div", null, "red_cuo_"+problem_index+"_"+q_index, "green_dui", null, "innerHTML"));
      red_cuo.innerHTML="<img src='/assets/red_cuo.png' />";
      red_cuo.style.display="none";
      var pro_qu_div = pql_right.appendChild(create_element("div", null, null, "pro_qu_div", null, "innerHTML"));
      pro_qu_div.style.display="none";
      var exam_user_answer = pro_qu_div.appendChild(create_element("input", null, "exam_user_answer_"+problem_index+"_"+q_index, "exam_user_answer", "hidden", ""));
      //pro_qu_ul 小题答案div
      var pro_qu_ul = pro_qu_div.appendChild(create_element("div", null, null, "pro_qu_ul", null, "innerHTML"));
      generate_correct_type(q_correct_type,pro_qu_ul,problem_index,q_index,exam_user_answer);
      var pro_btn = pro_qu_div.appendChild(create_element("div", null, null, "pro_btn", null, "innerHTML"));
      pro_btn.innerHTML += "<button class='t_btn' onclick=\"javascript:check_question('"+q_answer+"','"+q_analysis+"',"+problem_index+","+q_index+")\">核对</button>"
      pro_btn.innerHTML += "<a href='javascript:void(0);'>报告错误</a>";
      pro_btn.innerHTML += "<a href='javascript:void(0);'>相关词汇</a>"; 
      var jiexi = pro_qu_div.appendChild(create_element("div", null, "display_jiexi_"+problem_index+"_"+q_index, "jiexi", null, "innerHTML"));
      jiexi.style.display="none";
      var xx_x = jiexi.appendChild(create_element("div", null, null, "xx_x", null, "innerHTML"));
      xx_x.innerHTML="<img onclick=\"javascript:close_display_answer("+problem_index+","+q_index+");\" src='/assets/x.gif' />";
      jiexi.innerHTML +="<div>正确答案：<span id='display_answer_"+problem_index+"_"+q_index+"' class='red'></span></div>";
      jiexi.innerHTML +="<div id='display_analysis_"+problem_index+"_"+q_index+"'></div>";

      //显示，隐藏小题
      $(pro_qu_t).bind("click",function(){
        var pro_qu_div = $(this).parent().find(".pro_qu_div");
        if(pro_qu_div.is(":visible")){
          pro_qu_div.hide();
          $(this).parent().parent().addClass("p_q_line");
          $(this).parent().addClass("p_q_line");
          $(this).addClass("pro_qu_h");
          last_open_question=null;
        }else{
          if(last_open_question!=null){
            last_open_question.parent().find(".pro_qu_div").hide();
            last_open_question.parent().parent().addClass("p_q_line");
            last_open_question.parent().addClass("p_q_line");
            last_open_question.addClass("pro_qu_h");
          }
          pro_qu_div.show();
          $(this).parent().parent().removeClass("p_q_line");
          $(this).parent().removeClass("p_q_line");
          $(this).removeClass("pro_qu_h");
          last_open_question=$(this);
        }
      })
    }
  }

  //根据小题的类型，区别显示。如单选题的选项，填空题的框
  function generate_correct_type(correct_type,ele,problem_index,question_index,exam_user_answer){
    //显示单选题
    var question_detail = problems[problem_index].questions[question_index];
    var answer_detail = answer.paper.problems.problem[problem_index].question[question_index];

    //单选题
    if(correct_type=='0'){
      var attrs =  question_detail.questionattrs.split(";-;");
      var ul = ele.appendChild(create_element("ul", null, null, null, null, "innerHTML"));
      for(var i=0;i<attrs.length;i++){
        var li = ul.appendChild(create_element("li", null, null, null, null, "innerHTML"));
        if(attrs[i].split(") ")[0]&&attrs[i].split(") ")[1]){
          li.innerHTML="<span class='single_choose_"+problem_index+"_"+question_index+"' onclick='javascript:do_single_choose(this,\""+attrs[i]+"\","+problem_index+","+question_index+");'>"+attrs[i].split(") ")[0]+"</span>"+attrs[i].split(") ")[1];
        }else{
          li.innerHTML="<span>X</span><font color='red'>该选项存在问题，请修正或联系管理员</font>";
        }
      }
    }
  }

  //单选题,做题
  function do_single_choose(ele,answer,problem_index,question_index){
    $(".single_choose_"+problem_index+"_"+question_index).removeClass("hover");
    $(ele).addClass("hover");
    $("#exam_user_answer_"+problem_index+"_"+question_index).val(answer);
    
  }

  //核对小题
  function check_question(answer,analysis,problem_index,question_index){
    var user_answer = $("#exam_user_answer_"+problem_index+"_"+question_index).val();
    if(user_answer==answer){
      $("#green_dui_"+problem_index+"_"+question_index).show();
      $("#red_cuo_"+problem_index+"_"+question_index).hide();
    }else{
      $("#green_dui_"+problem_index+"_"+question_index).hide();
      $("#red_cuo_"+problem_index+"_"+question_index).show();
    }
    $("#display_jiexi_"+problem_index+"_"+question_index).show();
    $("#display_answer_"+problem_index+"_"+question_index).html(answer);
    $("#display_analysis_"+problem_index+"_"+question_index).html(analysis);
  }

  //关闭答案，解析显示
  function close_display_answer(problem_index,question_index){
    $("#display_jiexi_"+problem_index+"_"+question_index).hide();
  }
</script>

<div class="m_top">
  <h1 class="ex_paper_h"><span id="global_paper_title">试卷标题</span></h1>
  <div class="icon_func">
    <div class="float_right">
      <span class="icon_collection"><a href="javascript:void(0);" class="tooltip hover" name="收藏">收藏</a></span>
      <span class="icon_prev"><a href="javascript:void(0);" class="tooltip" name="上一题">上一题</a></span>
      <span class="icon_next"><a href="javascript:void(0);" class="tooltip" name="下一题">下一题</a></span>
      <span class="icon_big"><a href="javascript:void(0);" class="tooltip" name="放大">放大</a></span>
      <span class="icon_small"><a href="javascript:void(0);" class="tooltip" name="缩小 ">缩小</a></span>
      <span class="icon_return"><a href="javascript:void(0);" class="tooltip" name="返回">返回</a></span>
    </div>
    <span class="icon_again"><a href="javascript:void(0);" class="tooltip" name="重做">重做</a></span>
  </div>
</div>

<script type="text/javascript" >
  
</script>

<div class="m_side m_problem_bg" id="problem_resource" >
  <div class="problem_box">
    <div class="problem_title">第<span id="global_problem_index" ></span>题/共<span id="global_problem_sum"></span>题</div>
    <div class="problem_text" id="global_problem_title">
      <p>problem_title</p>
    </div>
  </div>
</div>
<img src='/assets/red_cuo.png' />
<script type="text/javascript">
  var last_open_question=null;
  //预载页面信息
  $(function(){
    $("#global_paper_title").html(papers.paper.base_info.title);
    $("#global_problem_sum").html(problems.length);
    load_problem(1);
  })
</script>

<div class="m_side">
  <div class="problem_box" id="questions_resource">

  </div>
</div>
