<div class="zhezhao" id="join_zz" style="display: none"></div>
<div class="tz_d_box border_radius" id="j_p_div">
  <span class="xx_x rember_j"><img src="/assets/x.png"/></span>
  <div class="tab_con">
    <h1 class="tz_ta_h">你是否来参加“30天领跑四六级”？</h1>
    <div class="tz_ta_div">
      <span>是</span>
      <span><button class="t_btn" onclick="javascript:window.location.href='/gankao/goto_plan';">加入挑战</button></span>
    </div>
    <div class="tz_ta_div"><span>否</span><span><a href="javascript:void(0);" class="rember_j">直接进入网站</a></span></div>
  </div>
</div>