<% category_id = params[:category].nil? ? 2 : params[:category].to_i %>
<div class="message_box">
  <div class="tab_ul">
    <ul>
      <li class="hover" id="email">收 件</li>
      <li id="mess">通 知</li>
    </ul>
  </div>
  <div class="tab_box">
    <div id="email_info">
    </div>
    <script type="text/javascript">
      load_email();
    </script>
    <div style="display:none;" id="mess_info">
    </div>
    <script type="text/javascript">
      load_message();
    </script>
  </div>
  <%  if  params[:target].to_i==1  %>
    <script type="text/javascript">
      $("#mess").addClass('hover').siblings().removeClass('hover');
      var index = $('div.tab_ul li').index($("#mess"));
      $('div.tab_box > div').eq(index).show().siblings().hide();
    </script>
  <% end %>
  <div class="mess_tab border_radius" style="display:none">
    <span class="xx_x"><img src="/assets/xx.png" onclick="javascript:$('.mess_tab').css('display','none')"/></span>
    <div class="mess_tab_con">
    </div>
  </div>
</div>