<div class="tab_ul">
  <ul>
    <li class="hover">收 件</li>
    <li>通 知</li>
  </ul>
</div>
<div class="tab_box">
  <div>
    <div class="mess_top">
      <span><input name="" type="checkbox" value="" /> 全选</span>
      <span><input name="" type="checkbox" value="" /> 反选</span>
      <span><button class="shanchu">删除</button></span>
    </div>
    <div class="mess_con">
      <div class="mess_list">
        <div class="mess_title"><input name="" type="checkbox" value="" /> <a href="#">2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐2012新年快乐 </a></div>
        <div class="mess_time">2012-01-01</div>
      </div>
      <div class="mess_list">
        <div class="mess_title"><input name="" type="checkbox" value="" /> <a href="#">2012新年快乐...... </a></div>
        <div class="mess_time">2012-01-01</div>
      </div>
      <div class="mess_list">
        <div class="mess_title"><input name="" type="checkbox" value="" /> <a href="#">2012新年快乐...... </a></div>
        <div class="mess_time">2012-01-01</div>
      </div>
      <div class="mess_list">
        <div class="mess_title"><input name="" type="checkbox" value="" /> <a href="#">2012新年快乐...... </a></div>
        <div class="mess_time">2012-01-01</div>
      </div>
      <div class="mess_list">
        <div class="mess_title"><input name="" type="checkbox" value="" /> <a href="#">2012新年快乐...... </a></div>
        <div class="mess_time">2012-01-01</div>
      </div>
      <div class="mess_list">
        <div class="mess_title"><input name="" type="checkbox" value="" /> <a href="#">2012新年快乐...... </a></div>
        <div class="mess_time">2012-01-01</div>
      </div>


      <div class="sabrosus"><span class="disabled"> < </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> > </a></div>

    </div>
  </div>
  <div style="display:none;">
    2222222222222
  </div>
</div>

<div class="mess_tab border_radius">
  <div class="mt_title"><span class="xx_x"><img src="images/x.gif" /></span></div>
  <div class="mess_tab_con">
    <p>新年快新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐乐</p>
    <p>新年快新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐乐</p>
  </div>
</div>