<% category_id = params[:category].nil? ? 2 : params[:category]
order=Order.first(:conditions=>"user_id=#{cookies[:user_id]} and types=#{Order::TYPES[:TRIAL_SEVEN]} 
  and category_id=#{category_id } and status=#{Order::STATUS[:NOMAL]}") %>
<% unless order.nil? %>
  <div class="tishi_vip">你还有 <span class="red"><%= ((order.end_time-Time.now.to_datetime)/1.day).to_i %></span> 天试用的时间
    <a href="/users/<%= cookies[:user_id] %>/record?vip=1&category=<%= category_id %>" onclick="javascript:$('.tishi_vip').css('display','none')">升级为高级用户</a>
    <span class="xx_x"><img src="/assets/x.gif" onclick="javascript:$('.tishi_vip').css('display','none')" /></span></div>
<% end %>
<div class="tab_ul">
  <ul>
    <li class="hover" id="jilu">消费记录</li>
    <li id="vip">VIP</li>
  </ul>
</div>
<div class="tab_box">
  <div id="record">
  </div>
  <script type="text/javascript">
    get_record();
  </script>
  <div style="display:none;">
    <div class="vip_box sq_code"><div class="sq_con">授权码 <input id="invit_code" type="text" /><button class="t_btn" onclick="accredit()">确定</button></div></div>
    <div class="vip_box vip_zfb"><div class="zfb_con"><img src="/assets/users/zfb_pic.png" /><button class="t_btn" onclick="check_vip()">确定</button></div></div>
  </div>
</div>
<%  if  params[:vip].to_i==1  %>
  <script type="text/javascript">
    $("#vip").addClass('hover').siblings().removeClass('hover');
    var index = $('div.tab_ul li').index($("#vip"));
    $('div.tab_box > div').eq(index).show().siblings().hide();
  </script>
<% end %>
<div class="mess_tab border_radius" style="display:none">
<span class="xx_x"><img src="/assets/users/xx.png" onclick="javascript:$('.mess_tab').css('display','none')" /></span>
  <div class="mess_tab_con">
    <p class="mess_padding_left">日期：<span id="date"></span></p>
    <p class="mess_padding_left">订单号：<span id="out_no"></span></p>
    <p class="mess_padding_left"> 科目：<span id="name"></span></p>
    <p class="mess_padding_left">商品名称：<span id="remark"></span></p>
    <p class="mess_padding_left"> 付费金额：<span id="fee"></span></p>
  </div>
</div>