<div class="tishi_vip">你还有 <span class="red">3</span> 天试用的时间<a href="#">升级为高级用户</a><span class="xx_x"><img src="images/x.gif" /></span></div>

<div class="tab_ul">
  <ul>
    <li class="hover">消费记录</li>
    <li>VIP</li>
  </ul>
</div>
<div class="tab_box">
  <div>
    <% unless %>
    <div class="mess_con" style="display: none;">
      <div class="mess_list">
        <div class="mess_title"><a href="#">2012新年快乐快乐新年快年快乐新年快乐新年快乐新年快乐新年快乐 </a></div>
        <div class="mess_time">2012-01-01</div>
      </div>

      <div class="sabrosus"><span class="disabled"> < </span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a><a href="#?page=4">4</a><a href="#?page=5">5</a><a href="#?page=6">6</a><a href="#?page=7">7</a>...<a href="#?page=199">199</a><a href="#?page=200">200</a><a href="#?page=2"> > </a></div>

    </div>
    <% else %>
    <div class="mess_con">
      <div class="record_none">暂时没有消费记录</div>
    </div>
    <% end %>
  </div>
  <div style="display:none;">
    <div class="vip_box sq_code"><div class="sq_con">授权码 <input name="" type="text" /><button class="t_btn">确定</button></div></div>
    <div class="vip_box vip_zfb"><div class="zfb_con"><img src="images/zfb_pic.png" /><button class="t_btn">确定</button></div></div>
  </div>
</div>

 <div class="mess_tab border_radius">
      <div class="mt_title"><span class="xx_x"><img src="images/x.gif" /></span></div>
      <div class="mess_tab_con">
        <p>新年快新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐乐</p>
        <p>新年快新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐新年快乐乐</p>
      </div>
    </div>