<div class="rcf_box">
  <label>昵称：</label>
  <div class="setting-item-main">
    <input id="name" type="text" value="<%= @user.name %>" />
  </div>
</div>
<div class="rcf_box">
  <label>学校：</label>
  <div class="setting-item-main">
    <input id="school" type="text" value="<%=@user.school  %>"/>
  </div>
</div>
<div class="rcf_box rcf_box_bottom">
  <label>会员：</label>
  <div class="setting-item-vip">
    <% if @order.nil?||@order.types==Order::TYPES[:CHARGE] %>
      &nbsp;&nbsp;普通会员&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="/users/<%= cookies[:user_id] %>/record?vip=1">开通VIP</a>
    <% else %>
      &nbsp;&nbsp;<img src="/assets/users/V.png"/>
    <% end %>
  </div>
</div>
<input type="hidden" value="<%= cookies[:user_id] %>" id="id"/>
<div class="save_info"><button class="save_info_btn" onclick="update_users()"></button></div>
<div class="clear"></div>
