<h1>词汇练习</h1>
<div class="cihui_lx">
  <div class="ch_lx_nav">
    <ul class="lx_ul">
      <li><a href="javascript:void(0);">单词认读</a></li>
      <li><a href="javascript:void(0);">回想释义</a></li>
      <li><a href="javascript:void(0);">词汇运用</a></li>
      <li class="hover"><a href="/words/<%= @word.id %>/hand_man?category=<%= params[:category] %>">拼写游戏</a></li>
    </ul>
  </div>
  <div class="ch_box">
    <div class="ch_text">
      <div class="ch_words_shu">(25)</div>
      <div class="ch_words_line">
        <p class="font_size_16">When the author says the creative mind and the critical mind "cannot work mind
          <input name="" type="text" class="words_input" />
          <input name="" type="text" class="words_input" />
          <input name="" type="text" class="words_input" />
          <input name="" type="text" class="words_input" />
        </p>
      </div>
      <div class="ch_words_line"><div class="xiaoren"><img src="images/xiaoren.png" /></div></div>
      <div class="ch_words_line">
        <ul class="words_letter">
          <li class="hover">a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
          <li>a</li>
        </ul>
      </div>

    </div>
    <div class="box_bottom_bg"></div>
  </div>
</div>