<h1>历年大学<%= @category.name %>真题</h1>
<div class="zhenti_list">
  <ul>
    <% if @similarities.blank? %>
      <li>暂无大学<%= @category.name %>真题</li>
    <% else %>
      <% @similarities.each do |similarity| %>
        <li><a href="#">
            <% if @exam_user_hash[similarity.id] %><span><img src="/assets/icon_wc.png" /></span><% end %>
            <h2><%= similarity.title %></h2></a>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%=  will_paginate @similarities ,:previous_label=>" &lt;", :next_label=>" &gt;" %>
</div>