<div class="zhezhao" id="guize_z" style="display: none;"></div>
<div class="plan_guize_tab border_radius" id="guize_tab" style="display:none;">
  <span class="xx_x" onclick="javascript:$('#guize_z').hide();$('#guize_tab').hide();"><img src="/assets/x.png"/></span>
  <img src="/assets/ji_pic.png"/>
</div>