<%= javascript_include_tag "calender_done" %>
<div class="m_box">
  <h1>学习计划</h1>
  <div class="planTable">
    <div class="planTable_h">
      <div class="planTable_up" id="idCalendarPre">上一个月</div>
      <div class="planTable_month" id="date">2011-11-11</div>
      <div class="planTable_down" id="idCalendarNext">下一个月</div>
    </div>
    <div class="planTable_box" id="idCalendar">
    </div>
  </div>
  <div id="today" style="display:none">
    <p><span id="whichs">第20天</span><span><%= "#{Time.now.strftime("%m/%d")}" %></span></p>
    <p><a href="#">添加标记</a></p>
    <p><span class="pt_lianxi tooltip" title="练习" id="practice">40</span>
      <span class="pt_beici tooltip" title="背词" id="exercise">30</span></p>
  </div>
  <div id="medal" style="display:none">
    <p class="pt_ztai"><img src="/assets/icon_xz.png" /></p>
  </div>
  <div id="yellow_card" style="display:none">
    <p class="pt_ztai"><img src="/assets/icon_hp.png" /></p>
  </div>
</div>
<input type="hidden" value="" id="all_days"/>
<input type="hidden" value="<%= params[:category] %>" id="category"/>
<script type="text/javascript">
  var today=new Date();
  var arr = [];
  new_calender();
  var $ = jQuery;
</script>
