<h1>学习计划</h1>
<% if @study_plan.blank? %>
<div class="jihua_wei">
  <div class="jihua_w_text">
    <div>面对四级，你是否有无从下手的感觉？常常很很多想法而无法坚持到底？不知道应该做什么？
      那就请加入我们的"30天突破四级"学习计划吧。我们的理念很简单：真题+词汇。我们的方法很直接；每天50题真题+50个词汇。
      我们的效果很卓著，用过都说有效。参加我们的学习计划，你会得到30天额外的免费学习时间（通常普通用户只有7天的试用时间
      而已）。
      怎么参与呢？

      第一步 发送微博---向所有粉丝宣布，你将挑战自己，坚持30天，每天完成50道真题，记住50个词汇。
      第二步 每天登录----加入击破计划的用户，登录后会收到当天任务完成情况的提示，然后开始努力。
      任务完成，系统会自动发出微博，宣布你完成了今天的任务。

      坚持30天，不但可以提升英语水平，顺利通过四级，更是对懒散的自己说不，挑战自我的英勇行为。还在等什么？马上加入！</div>
    <div class="btn_box"><button class="t_btn">马上加入</button></div>
  </div>
  <div class="box_bottom_bg"></div>
</div>
<% end %>