@charset "utf-8";
* { padding: 0; margin: 0;}
body { font-family: "宋体", "微软雅黑", Arial; font-size: 12px; color: #333; background: url(../images/body_bg.png) repeat-x  #FFF;}
a { text-decoration: none; color: #333;}
button { cursor: pointer;}
ul { list-style: none;}
img { border:none;}
.clear { clear: both;}
.red { color: #F00;}
.border_radius {
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px; 
	-ms-border-radius: 5px; 
	-o-border-radius: 5px; 
	border-radius: 5px;
}
.xx_x { cursor: pointer; float: right;}
.t_btn { width: 81px; height: 27px; line-height: 27px; text-align: center; background: url(../images/t_btn.png) no-repeat; border: none;}
.wrap { width: 960px; margin: 0 auto;}

.head { height: 40px; padding: 5px 20px;}
.logo { width: 128px; height: 40px; float: left;}
.user_info { float: right; height: 40px; line-height: 40px;}
.user_info a { margin: 0 5px;}
.user_info a:hover { text-decoration: underline;}

.main { padding: 30px 0;}
.main_box { 
    width: 850px; 
	margin: 0 auto; 
	border: 1px #CCC solid; 
	height: 520px; 
	background: url(../images/main_box_bg.png) no-repeat right 0; 
	position: relative;
}
.side_ying { width: 16px; height: 300px; background: url(../images/side_y_bg.png) no-repeat; position: absolute; left: -16px; top: 0px;}
.left { width: 650px; float: left;}
.right { width: 199px; height: 520px; border-left: 1px #CCC solid; float: left;}

/*个人信息*/
.main_info { width: 500px; padding: 10px; margin: 0 auto;}
.save_info { width: 114px; height: 40px; margin: 10px auto;}
.save_info_btn { width: 114px; height: 40px; background: url(../images/member_info_btn.png) no-repeat; border: none;}

.rcf_box { color: #333; font-size: 14px;clear: both; background: #F5F5F5; width: 500px; border: 1px #D9D9DA solid; border-bottom: none; overflow: hidden;}
.rcf_box label { width: 100px; display: block; padding: 20px 0; text-align: right; float: left; line-height: 30px;}
.setting-item-main { width: 400px; padding: 20px 0; float: left; background: #FFF;}
.setting-item-main input { width: 216px; height: 30px; margin: 0 10px; border: 1px #d2d2d2 solid;}
.setting-item-vip { height: 30px; line-height: 30px; width: 400px; padding: 20px 0; float: left; background: #FFF;}
.setting-item-vip a {color: #F00; text-decoration: underline;}
.rcf_box_bottom { border-bottom:1px #D9D9DA solid;}

.tab_project { padding: 10px 0 ;}
.tab_project li { width: 167px; height: 53px; line-height: 53px; margin: 20px 0;}
.tab_project li a { width: 167px; height: 53px; display: block; line-height: 53px; margin: 20px 0;}
.tab_project li a.hover { background: url(../images/li_hover.png) no-repeat;}
.tab_project li a img { float: left; margin: 10px 5px 0 40px;}

/*消息*/
.message_box { width: 600px; margin: 0 auto; padding: 20px 0;}
.tab_ul { height: 30px; border-bottom: 1px #333 solid;}
.tab_ul li { padding: 0 10px; height: 30px; line-height: 30px; float: left; margin: 0 5px; color: #999; cursor: pointer;}
.tab_ul li.hover { border: 1px #333 solid; border-bottom: none; height: 30px; background: #FFF; color: #333;}

.tab_box { padding: 10px 0;}

.mess_top { height: 25px; line-height: 25px; padding: 2px 20px; border-bottom: 1px  #CCC solid; background: #f3f3f3;}
.mess_top span { margin: 0 10px;}
.shanchu { width: 52px; height: 25px; line-height: 25px; border: none; background: url(../images/btn_1.png) no-repeat; text-align: center;}

.mess_con { padding: 10px 0;}
.mess_list { border: 1px #CCC solid; background: #fafafa; height: 50px; line-height: 50px; padding: 0 10px; margin: 8px 0;}
.mess_title { width: 490px; float: left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.mess_title a { margin-left: 5px;}
.mess_title a:hover { color: #F00; text-decoration: underline;}
.mess_time { float: left; color: #999; margin-left: 20px;}

.mess_tab { width: 520px; height: 320px; border: 5px #333 solid;}
.mt_title { width: 500px; height: 28px; padding: 5px 10px; background: url(../images/mt_title.png) repeat-x;}
.mess_tab_con { line-height: 24px; padding: 10px; overflow: auto;}

.tishi_vip { height: 21px; line-height: 21px; background: #FFFCE9; border: 1px solid #EBDEBC; padding: 5px 10px; margin: 5px 0; overflow: hidden;}
.tishi_vip a { margin-left: 20px; color: #F00;}
.tishi_vip a:hover { text-decoration: underline;}


/*vip*/
.record_none { width: 150px; height: 50px; line-height: 50px; text-align: center; border: 1px #CCC solid; margin: 50px auto; background: #f8f8f8;}

.vip_box { width: 600px; height: 119px; overflow: hidden; margin: 30px 0;}
.vip_box button { float: right; margin-left: 10px; color: #F90;}
.sq_code { background: url(../images/vip_bg.png) no-repeat 0 0;}
.vip_zfb { background: url(../images/vip_bg.png) no-repeat 0 bottom;}
.sq_con{ width: 360px; margin: 47px 0 0 143px;}
.sq_con input { height: 22px;}
.zfb_con { width: 360px; margin: 29px 0 0 143px;}
.zfb_con button { margin-top: 20px;}


/*翻页-----------------------*/
/*CSS sabrosus style pagination*/
.sabrosus { padding: 6px; margin: 6px; text-align: center; font-size: 14px;}
.sabrosus a { border: #c1c1c1 1px solid; padding: 6px 10px; color: #2e6ab1; margin-right: 4px; text-decoration: none;}
.sabrosus a:hover { border: #289FDB 1px solid; color: #289FDB; background: #d0e7ee;}
.pagination a:active {border: #c1c1c1 1px solid; color: #000; background: #d0e7ee;}
.sabrosus span.current { border: #289FDB 1px solid;  padding: 6px 10px; font-weight: bold; color: #289FDB; margin-right: 4px; background: #d0e7ee;}
.sabrosus span.disabled { border: #c1c1c1 1px solid; padding: 6px 10px; color: #929292; margin-right: 4px;}

.foot { border-top: 1px #CCC solid; padding: 10px 0; margin-top: 50px;}
.foot p { text-align: center; line-height: 24px; color: #999;}
.foot p a { color: #999;}
