<div class="AD_text">
  <div class="AD_scrollDiv">
    <%ads= Advert.ip_advert(request.headers["HTTP_X_REAL_IP"]) %>
    <ul>
      <% ads.each do |ad| %>
        <li><%= ad.content.html_safe %></li>
      <%end unless ads.blank?%>
    </ul>
  </div>
</div>
