    <title><%= @title.nil? ? "赶考网" : @title %></title>
    <meta name="keywords" content="<%= @meta_keywords.nil? ? "赶考网" : @meta_keywords %>" />
    <meta name="description" content="<%= @meta_description.nil? ? "赶考网" : @meta_description %>" /> 